.ad-left, .ad-right {
    max-width: 150px !important;
    width: 150px !important;
    height: 100vh !important;
    max-height: 100vh !important;
    display: inline-block;
}

.content {
    display: inline-block;
    height: 100vh !important;
    width: 100%;
    /*width: calc(100vw - 305px) !important;*/
    /*max-width: calc(100vw - 305px) !important;*/
}

.grid {
    width: 100vw !important;
    height: 100vh !important;
}

body, #root {
    margin: 0 !important;
    padding: 0 !important;
}

.marker-label {
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5%;
}